@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:400,500,600,700|Open+Sans:400,600,700|Playfair+Display:400,700,900&display=swap');

$sans: 'Montserrat', sans-serif;
$sans2: 'Open Sans', sans-serif;
$sans3: 'Open Sans', sans-serif;
$mono: 'Inconsolata', monospace;
$serif: 'Playfair Display', serif;

$green: #00753A;
$green2: #01C261;
$green3: #588065;
$green4: #88998E;
$green5: #718076;

$black: #050C09;
$black2: #2a2a2a;
$black3: #2D3A34;
$black4: #3F403F;
$black5: #4a4a4a;

$white: #FCFFFD;
$white2: #F5F5F5;
$white3: #EFF7F3;
$white4: #f0f0f0;

$gray: #E3E6E4;
$gray2: #CACCCB;
$gray3: #7E807F;
$gray4: #BDBFBE;
$gray5: #7E807F;

$red: #750D00;