@import 'assets';

.service-page {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.service-top-section {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
#pergola_service_img {
    align-self: flex-end;
}
.service-top-img {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    display: block;
    max-height: 125%;
}
.service-section {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0 0 0;
    margin: 0;
    max-width: 90%;
    width: auto;
}


.service-header {
    font-family: $serif;
    color: $black3;
    font-size: 40px;
    font-weight: 700;
}
.service-header2 {
    font-family: $sans;
    font-size: 25px;
    color: $black4;
}
.service-header3 {
    font-family: $sans3;
    font-size: 25px;
    color: $black4;
    margin: 0;
    padding: 0;
}

.service-par {
    font-family: $sans;
    font-size: 22px;
    color: $black5;
    font-weight: 400;
    width: 90%;
    max-width: 1000px;
}
.service-list-container {
    display: flex;
    margin: 0 auto;
    flex-flow: column;
    height: auto;
    position: relative;
    justify-content: center;
    align-items: center;
}
.service-list-wrapper {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    width: auto;
    max-width: 90%;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
}
.service-list-item {
    font-family: $sans;
    font-size: 22px;
    list-style-type: circle;
    color: $black5;
    padding: 5px 30px 5px 5px;
    list-style-position: inside;
}
.service-list-link {
    color: #4287f5;
    text-decoration: none;
}
.service-list-item-big {
    font-family: $sans2;
    font-size: 20px;
    width: auto;
    list-style-type: circle;
    margin: 0;
    color: $black5;
    padding: 5px;
    width: 100%;
    margin-left: 25px;
    justify-content: center;
    justify-items: center;
}

.service-quote-container {
    align-self: flex-start;
    justify-self: flex-end;
    width: 30%;
    max-width: 350px;
    min-width: 250px;
}

.service-carousel-container {
    width: 100%;
    height: auto;
}

.service-main-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 0 50px 0;
}
.service-type-container {
    width: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 2.5%;
    text-decoration: none;
}
.service-type-img {
    width: 300px;
    height: 200px;
    display: block;
}

.service-type-header {
    font-family: $serif;
    font-size: 25px;
    color: $black5;
    margin: 0;
    padding: 5px 0;
}
.service-header4 {
    font-size: 30px;
    color: $black;
    font-family: $mono;
    font-weight: bold;
}
.pool-video-container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.pool-video {
    width: 100vw;
    height: calc(100vh - 80px);
}
.pool-header {
    font-family: $serif;
    color: $black3;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding: 25px 0 0 0;
}
.pool-section {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin: 0;
    max-width: 90%;
    width: auto;
}
.pool-finish-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.pool-finish-header {
    margin: 0;
    padding: 0;
    font-family: $serif;
    font-size: 35px;
    color: $black3;
    font-weight: bold;
}
.pool-finish-row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    picture {
        width: 300px;
        height: 100px;
        display: flex;
        flex-flow: column;
        margin: 10px;
        padding: 5px;
        justify-content: center;
        align-items: center;
    }
}
.pool-finish-holder {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.pool-finish {
    margin: 25px;
    width: auto;
    height: auto;
    max-width: 90vw;
}
.finish-logo {
    width: 275px;
    height: auto;
}
.padding25 {
    padding: 25px 0;
}

@media only screen and (max-width: 1200px) {
    .service-type-img {
        width: 275px;
        height: 190px;
    }
    .service-main-section {
        width: 98%;
    }
}
@media only screen and (max-width: 1055px) {
    .service-type-header {
        font-size: 22px;
    }
    .service-type-img {
        width: 250px;
        height: 180px;
    }
}

@media only screen and (max-width: 1000px) {
    .service-header {
        font-size: 35px;
    }
    .pool-finish-header {
        font-size: 30px;
    }
}
@media only screen and (max-width: 925px) {
    .service-type-container {
        padding: 10px;
    }
    .service-type-header {
        font-size: 20px;
    }
}

@media only screen and (max-width: 830px) {
    .service-type-img {
        width: 225px;
        height: 170px;
    }
    .service-type-header {
        font-size: 18px;
    }
}

@media only screen and (max-width: 800px) {
    .service-top-section {
        height: 40vh;
    }
    .service-header {
        font-size: 30px;
    }
    .service-par {
        font-size: 20px;
    }
    .service-header2 {
        font-size: 23px;
    }
    .service-header3 {
        font-size: 23px;
    }
    .service-list-item {
        font-size: 20px;
    }
    .service-list-item-big {
        font-size: 20px;
    }
    .pool-finish-header {
        font-size: 25px;
    }
}

@media only screen and (max-width: 750px) {
    .service-type-img {
        width: 200px;
        height: 160px;
    }
    .service-type-header {
        font-size: 17px;
    }
}

@media only screen and (max-width: 675px) {
    .service-type-container {
        width: 45%;
        padding: 10px 2.5%;
        height: 150px;
        overflow: hidden;
        padding-top: 30px;
        justify-content: flex-start;
        align-items: center;
        position: relative
    }
    .service-type-img {
        position: absolute;
        max-width: 250px;
        height: 160px;
        width: 100%;
    }
    .service-type-header {
        margin-top: -30px;
    }
}

@media only screen and (max-width: 600px) {
    .service-top-section {
        height: 30vh;
    }
}

@media only screen and (max-width: 550px) {
    .service-type-container {
        height: 25.3vw;
    }
    .service-type-img {
        width: 45vw;
        height: auto;
        min-height: 25.3vw;
        max-height: 25.3vw;
    }
}

@media only screen and (max-width: 500px) {
    .service-top-section {
        height: 20vh;
    }
    .service-header {
        font-size: 27px;
    }
    .service-par {
        font-size: 18px;
    }
    .service-header2 {
        font-size: 20px;
    }
    .service-header3 {
        font-size: 20px;
    }
    .service-list-item {
        font-size: 18px;
    }
    .service-list-item-big {
        font-size: 18px;
    }
    .pool-finish-header {
        font-size: 23px;
    }
}

@media only screen and (max-width: 450px) {
    .service-main-section {
        flex-flow: column;
    }
    .service-type-img {
        min-width: 100%;
        height: auto;
        width: auto;
        min-height: 100%;
        max-height: auto;
    }
    .service-type-container {
        height: 100px;
        width: 90%;
        padding-top: 30px;
        margin-top: 10px;
        border-top: 1px solid $gray3;
    }
    .servicer-type-header {
        border-top: 1px solid $gray3;
    }
    .service-list-item {
        padding: 5px;
    }
    .service-list-wrapper {
        max-width: 100%;
    }
}

@media only screen and (max-width: 425px) {
    .service-list-wrapper {
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }
}




@media only screen and (max-width: 445px) {
    .pool-video {
        height: 180vw;
    }
}