@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:400,500,600,700|Open+Sans:400,600,700|Playfair+Display:400,700,900&display=swap");
.contact-page {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  min-height: 90vh;
  margin-top: 50px;
}

.contact-section {
  width: 70%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.contact-par {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #4a4a4a;
  width: auto;
  max-width: 800px;
  margin: 25px 0;
  padding: 20px 0;
  border-top: 1px solid #CACCCB;
  border-bottom: 1px solid #CACCCB;
}

.contact-header {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: #2D3A34;
  padding: 0;
  margin: 0;
}

.contact-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 25px 10px;
  margin: 0;
  margin-bottom: 25px;
}

.contact-column {
  width: auto;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.contact-label {
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  color: #4a4a4a;
  padding: 15px 0 5px 0;
  margin: 0;
  display: flex;
  flex-flow: column;
}

.contact-input {
  font-family: "Inconsolata", monospace;
  font-size: 18px;
  color: #4a4a4a;
  padding: 8px 5px;
  width: 500px;
}

.contact-button {
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  color: #FCFFFD;
  background: #01C261;
  border: none;
  padding: 8px 25px;
  margin: 25px 0 0 0;
  border-radius: 25px;
}
.contact-button i {
  padding: 0 0 0 10px;
}

.contact-button:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 2px #7E807F;
}

.contact-link-column {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.contact-link-header {
  font-family: "Inconsolata", monospace;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

.contact-link-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 800px;
  padding: 0 0 25px 0;
  margin: 0;
}

.contact-link-holder {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px 25px;
}

.contact-header3 {
  font-family: "Inconsolata", monospace;
  font-size: 22px;
  color: #2D3A34;
  margin: 0;
  padding: 0 0 5px 0;
}

.contact-link {
  font-size: 20px;
  color: #4a4a4a;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.contact-link:hover {
  transform: scale(1.02);
  color: #00753A;
}

.contact-text {
  font-size: 20px;
  color: #4a4a4a;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
.contact-text .material-icons {
  font-size: 24px;
  color: #FCFFFD;
  background: #4a4a4a;
  border-radius: 50%;
  padding: 10px;
  margin: -20px 10px 0 0;
}

.contact-facebook-wrapper {
  padding: 25px 10px;
}

@media only screen and (max-width: 1200px) {
  .contact-page {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .contact-section {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .contact-par {
    width: 90%;
  }

  .contact-header {
    font-size: 28px;
  }
}
@media only screen and (max-width: 600px) {
  .contact-column {
    width: auto;
  }

  .contact-form {
    width: 100%;
    padding: 25px 0;
  }

  .contact-input {
    width: 90%;
    min-width: 400px;
    max-width: 500px;
  }
}
@media only screen and (max-width: 500px) {
  .contact-input {
    min-width: 300px;
    font-size: 16px;
  }

  .contact-header3 {
    font-size: 20px;
  }

  .contact-label {
    font-size: 18px;
  }

  .contact-link {
    font-size: 18px;
  }

  .contact-par {
    font-size: 18px;
  }

  .contact-link-row {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 350px) {
  .contact-input {
    width: 275px;
    min-width: 250px;
    margin: 0;
  }

  .contact-column {
    margin: 0;
    padding: 0;
  }

  .contact-form {
    margin: 0;
  }
}
@media only screen and (max-width: 300px) {
  .contact-input {
    width: 250px;
  }
}

/*# sourceMappingURL=contact.css.map */
